@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");


:root {
	--primary-color: #ff6b6b;
	--secondary-color: #794afa;
	--secondary-dark-color: #453c5c;
    --second-color:#fd8f44;
	--white-color: #fff;
	--light-bg-color: #f2f3f5;
	--light-text-color: #7c899a;
	--border-color: #e5e8ec;
	--dark-color: #0a021c;
	--gra: linear-gradient(45deg, cyan, royalblue);
	--font-small: 13px;
	--font-smaller: 11px;
    --bg-color:#fff;
	--percent100: 100%;
	--percent50: 50%;
    --text-color:#172317;
	--fw3: 300;
	--fw5: 500;
	--fw6: 600;
	--fw7: 700;
	--fw8: 800;

	--trans-background-color: background-color 0.3s, color 0.3s;
	--trans-background: background-color 0.3s;
	--trans-color: color 0.3s;
}

* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: var(--dark-color);
	background-color: var(--white-color);
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: transparent;
}

ul {
	list-style: none;
}

img {
	max-width: var(--percent100);
}

strong {
	font-weight: var(--fw8);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::placeholder {
	font: inherit;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins";
}



h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.2em;
	font-weight: var(--fw7);
}

h4 {
	font-size: 1em;
	font-weight: var(--fw6);
}

/* ---------------
 * REUSABLE SELECTOR
 * -------------- */

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 0.938em;
}

.column {
	margin-left: -0.938em;
	margin-right: -0.938em;
}

.column .row {
	padding: 0 0.938em;
}

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexitem {
	display: flex;
	align-items: center;
}

.flexcol {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.main-links a:hover {
	color: var(--secondary-color);
}

.second-links a:hover {
	color: var(--light-text-color);
}

.icon-small,
.icon-large {
	display: flex;
	align-items: center;
	padding: 0 0.25em;
	font-weight: normal;
}

.icon-small {
	font-size: 1.25em;
	margin-left: auto;
}

.icon-large {
	font-size: 1.75em;
	padding: 0 0.75em 0 0;
}

.mobile-hide {
	display: none;
}

.object-cover img {
	position: absolute;
	object-fit: cover;
	width: var(--percent100);
	height: var(--percent100);
	display: block;
}

.products .media {
	position: relative;
	flex-shrink: 0;
	overflow: hidden;
}

.primary-button,
.secondary-button,
.light-button {
	font-size: var(--font-small);
	padding: 0.9em 2em;
	height: auto;
	width: fit-content;
	border-radius: 2em;
	transition: var(--trans-background-color);
}

.primary-button {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.primary-button:hover {
	background-color: var(--dark-color);
}

.secondary-button {
	background-color: var(--secondary-dark-color);
	color: var(--white-color);
}

.secondary-button:hover {
	background-color: var(--light-bg-color);
	color: var(--secondary-dark-color);
}

.light-button {
	background-color: var(--light-bg-color);
}

.light-button:hover {
	background-color: var(--secondary-dark-color);
	color: var(--white-color);
}

.view-all {
	font-size: var(--font-small);
	display: flex;
	gap: 1em;
	transition: var(--trans-color);
}

.mini-text {
	font-size: var(--font-smaller);
	color: var(--light-text-color);
}

/* ---------------
 * ---- HEADER ----
 * -------------- */

:where(.off-canvas, header) li > a {
	display: flex;
	position: relative;
	line-height: inherit;
	transition: var(--trans-color);
}

/* ---- HEADER -----
 * a. Header Top ----
 * --------------- */

.header-top .wrapper {
	font-size: var(--font-small);
	font-weight: var(--fw3);
	justify-content: space-between;
	line-height: 42px;
}

.header-top .wrapper ul {
	gap: 2em;
}

.header-top li {
	position: relative;
}

.header-top ul ul {
	position: absolute;
	left: -1em;
	line-height: 2em;
	background-color: var(--white-color);
	border: 1px solid var(--border-color);
	z-index: 1;
	display: none;
}

:where(.header-top, .thetop-nav) .right ul ul li a {
	padding: 0.25em 1em;
}

:where(.header-top, .thetop-nav) .right ul ul li.current a {
	background-color: var(--border-color);
}

.header-top li:hover ul {
	display: block;
}

/* ---- HEADER -----
 * b. Header Nav ----
 * --------------- */

.header-nav {
	padding: 0.5em 0;
	margin-bottom: 2.5em;
	border-bottom: 1px solid var(--border-color);
}

.trigger {
	font-size: 1.5em;
	display: flex;
	padding: 0.25em;
	margin-right: 0.5em;
}

.logo a {
	font-family: "Poppins";
	font-size: 1.75em;
	position: relative;
	font-weight: var(--fw8);
	display: flex;
	padding-left: 0.75em;
	margin-right: 2em;
}



.header-nav nav > ul {
	line-height: 100px;
	gap: 2em;
}

.fly-item {
	position: absolute;
	height: 16px;
	font-size: var(--font-smaller);
	padding: 3px;
	text-align: center;
	line-height: 10px;
	color: var(--white-color);
}

nav .fly-item,
.header-nav .mini-cart .price .fly-item {
	top: 50%;
	margin-top: -24px;
	width: 32px;
	border-radius: 3px;
	right: -32px;
	background-color: var(--primary-color);
}

.header-nav .right {
	position: relative;
	margin-left: auto;
}

.header-nav .right .icon-large {
	position: relative;
}

.header-nav .right .fly-item {
	top: 0;
	right: 16px;
	width: 16px;
	background-color: var(--secondary-dark-color);
	border-radius: var(--percent50);
}

.mega .flexcol {
	flex: 1;
	min-width: 180px;
	padding-right: 2.5em;
	margin-bottom: 1.5em;
	z-index: 1;
}

/* ---- Header ----
 * c. Header Main, departments category
 * -----------------*/

.header-main {
	background-color: black;
	padding: 1.5em 0;
	margin-bottom: 2em;
}

.dpt-cat {
	position: relative;
	z-index: 10;
}

.dpt-cat .dpt-head {
	position: relative;
	width: 300px;
	padding: 0.75em 1.5em;
	background-color: gold;
	border-radius: 7px 7px 0 0;
	color: black;
	margin-bottom: -2.15em;
}

.dpt-cat .dpt-head .mini-text {
	color: black;
}

.dpt-cat .dpt-trigger {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1.3em;
	height: 60px;
	width: 60px;
}

.dpt-menu > ul > li > a {
	font-size: var(--font-small);
	height: 46px;
	align-items: center;
}

.dpt-menu .has-child:hover ul {
	display: block;
}

.dpt-menu .has-child li a:hover {
	text-decoration: underline;
}

/* ---- Header ----
 * d. Search form
 * -----------------*/

.header-main .right {
	flex: 1;
}

form {
	position: relative;
}

form.search input {
	line-height: 3.25em;
	padding: 0 7em 0 4.5em;
	border: 0;
	outline: 0;
	width: var(--percent100);
	border-radius: 7px;
	font-size: 0.9em;
	font-weight: var(--fw3);
}

form.search :where(span, button) {
	position: absolute;
	top: 0;
	padding: 0.55em 1.5em;
	font-size: 1em;
	color: var(--light-text-color);
	height: var(--percent100);
}

form.search button {
	right: 0;
	border: 0;
	outline: 0;
	font-size: 0.875em;
	font-weight: var(--fw6);
	background-color: gold;
	color: var(--white-color);
	border-radius: 0 7px 7px 0;
	cursor: pointer;
	transition: var(--trans-background);
}

form.search button:hover {
	background-color: red;
}

/* ---- Header ----
 * e. Responsive MENU - off Canvas
 * -----------------*/

.site-off {
	position: fixed;
	width: 320px;
	height: var(--percent100);
	background-color: var(--white-color);
	overflow-y: auto;
	z-index: 1000;
	transform: translateX(-100%);
	visibility: hidden;
	transition: transform 0.4s, visibility 0.4s;
	will-change: transform, visibility;
}

.showmenu .site-off {
	transform: translateX(0);
	visibility: visible;
	transform: transform 0.4s 0s, visibility 0s 0s;
}

.off-canvas {
	width: var(--percent100);
	height: var(--percent100);
	touch-action: auto;
	padding: 1.5em;
}

.off-canvas .canvas-head {
	color: var(--white-color);
	justify-content: space-between;
	padding: 1.5em;
	margin: -1.5em -1.5em 1.5em;
	background-color: var(--secondary-dark-color);
	border-bottom-right-radius: 160px 25px;
}

.off-canvas .canvas-head .logo {
	z-index: 10;
	position: relative;
}

.off-canvas .canvas-head .logo .circle {
	opacity: 0.75;
}

.t-close {
	font-size: 1.25em;
	width: 32px;
	height: 32px;
	border-radius: var(--percent50);
	background-color: var(--secondary-dark-color);
	color: var(--white-color);
	transition: var(--trans-background-color);
}

.t-close:hover {
	background-color: var(--white-color);
	color: var(--secondary-dark-color);
	opacity: 0.75;
}

.off-canvas .dpt-head {
	font-size: var(--font-small);
	padding: 1em;
	margin-bottom: 1em;
	text-align: center;
	background-color: var(--light-bg-color);
	border-radius: 7px 7px 0 0;
}

.off-canvas .has-child > :where(ul, .mega) {
	font-size: var(--font-small);
	font-weight: var(--fw3);
	line-height: 28px;
	padding-left: 3em;

	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.off-canvas .expand > :where(ul, .mega) {
	max-height: 2000px;
}

.off-canvas .thetop-nav ul,
.off-canvas nav > ul {
	flex-direction: column;
	align-items: flex-start;
	font-size: var(--font-small);
	line-height: 36px;
	padding-top: 1.25em;
	margin: 1.25em 0;
	border-top: 1px solid var(--border-color);
}

.off-canvas nav .mega {
	padding: 0;
}

.off-canvas nav .mega .products {
	display: none;
}

.off-canvas .has-child .icon-small {
	padding: 0.5em;
	line-height: initial;
}

.off-canvas .dpt-menu .icon-small i {
	transform: rotate(90deg);
}

.off-canvas .has-child {
	width: var(--percent100);
}

.off-canvas
	.thetop-nav
	.right
	> ul
	> :where(:nth-child(4), li:nth-child(5))
	> a {
	display: none;
}

.off-canvas .thetop-nav .right ul ul {
	display: flex;
	flex-direction: row;
}

.off-canvas .thetop-nav .right ul ul li a {
	padding: 0.5em;
	border: 1px solid var(--border-color);
	line-height: 16px;
	margin: 0 0.5em 0.5em 0;
}

/* -------------------
 * 02. Slider
 * -------------------*/

.slider .item {
	position: relative;
	height: 474px;
}

.slider .item::before {
	content: "";
	position: absolute;
	top: 30%;
	left: 0;
	width: 450px;
	height: 300px;
	background-color: var(--white-color);
	z-index: 1;
	filter: blur(50px);
	opacity: 0.8;
}

.slider .text-content {
	position: relative;
	height: var(--percent100);
	justify-content: flex-end;
	padding: 0 0 10% 10%;
	z-index: 1;
}

.slider h4 {
	font-size: var(--font-small);
	font-weight: var(--fw7);
	width: fit-content;
	padding: 4px 10px;
	background-color: var(--dark-color);
	color: var(--white-color);
	border-radius: 4px;
}

.text-content :where(h2, h3) span:first-child {
	font-weight: var(--fw3);
	color: var(--light-text-color);
}

.text-content :where(h2, h3) span:last-child {
	color: var(--secondary-dark-color);
	text-transform: uppercase;
	letter-spacing: -1px;
}

.swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--secondary-dark-color);
}


/* ----------------------
 * -----15. RESPONSIVE------
 *--------------------- */
@media screen and (min-width: 481px) {
	.products.main .item {
		flex: 0 0 50%;
	}

	/* page single */
	.products.one .big-image {
		margin-bottom: 2em;
	}

	.products.one .image-show {
		height: 680px;
	}

	.products.one .thumbnail-show {
		height: 160px;
	}
}

@media screen and (max-width: 639px) {
	#cart-table thead {
		display: none;
	}

	#cart-table tbody tr {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		align-items: center;
	}

	#cart-table tbody tr td:first-child {
		width: var(--percent100);
		min-width: var(--percent100);
		position: relative;
	}

	#cart-table tbody tr td:not(:first-child) {
		flex-basis: 0;
		flex-grow: 1;
		max-width: var(--percent100);
	}

	#cart-table tbody tr td:last-child {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media screen and (min-width: 768px) {
	.products .price .current {
		font-size: 1.25em;
	}

	.products.mini,
	.banner .row,
	.widgets .row,
	.checkout .item {
		flex: 0 0 50%;
	}

	.products.main .item {
		flex: 0 0 33.3333%;
	}

	.products.one .row {
		flex: 0 0 50%;
		width: 50%;
	}

	.products.one .is_sticky,
	.is_sticky {
		position: sticky;
		top: 2em;
	}

	.checkout .item.right {
		padding: 5em 0 0 5em;
	}
}

@media screen and (min-width: 992px) {
	.container {
		padding: 0 2em;
	}

	.desktop-hide {
		display: none;
	}

	.mobile-hide {
		display: block;
	}

	.logo a {
		margin-right: 2em;
	}

	.header-nav {
		padding: 0;
		margin: 0;
		border-bottom: 0;
	}

	.header-nav .right li > a {
		margin-left: 1em;
	}

	/* mega menu */
	nav .mega {
		position: absolute;
		width: var(--percent100);
		height: auto;
		top: auto;
		left: 0;
		right: 0;
		padding: 2.5em;
		line-height: 2em;
		background-color: var(--light-bg-color);
		box-shadow: rgb(0, 0, 0 / 20%) 0 30px 20px -30px;
		z-index: 100;

		display: none;
	}

	nav li.has-child:hover .mega {
		display: block;
	}

	nav .mega .wrapper {
		display: flex;
	}

	nav .mega h4 {
		font-size: 0.8em;
		text-transform: uppercase;
	}

	nav .mega ul {
		font-size: var(--font-small);
	}

	nav .mega .women-brands {
		display: flex;
		flex-wrap: wrap;
		max-width: 180px;
	}

	nav .mega .women-brands li {
		min-width: 80px;
	}

	nav .mega .view-all {
		margin-top: 1em;
	}

	nav .mega .products {
		flex: 2;
		padding: 0;
		align-items: center;
		position: relative;
	}

	nav .mega .products .row {
		width: var(--percent100);
	}

	nav .mega .products .media {
		height: 400px;
	}

	nav .mega .products .text-content {
		line-height: initial;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;
		margin-top: 0.5em;
		position: absolute;
		bottom: 4em;
		width: var(--percent100);
	}

	nav .mega .products .text-content h4 {
		font-size: 2em;
		font-weight: var(--fw8);
		text-align: center;
		color: var(--secondary-dark-color);
	}

	.header-main .right {
		max-width: 600px;
		margin-left: auto;
	}

	/* Departments menu */
	.dpt-menu {
		position: absolute;
		top: var(--percent100);
		width: 300px;
		background-color: var(--white-color);
		border: 1px solid var(--border-color);
		border-top: 0;
		border-bottom: 0;
	}

	.dpt-menu > ul > li > a {
		font-weight: var(--fw5);
		padding: 0 1.5em;
		border-bottom: 1px solid var(--border-color);
	}

	.dpt-menu .has-child > ul,
	.dpt-menu .mega {
		position: absolute;
		top: 0;
		left: var(--percent100);
		width: var(--percent100);
		height: auto;
		min-height: var(--percent100);
		padding: 1.5em;
		font-size: var(--font-small);
		line-height: 2.5em;
		border: 1px solid var(--border-color);
		border-top: 0;
		display: none;
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: auto;
	}

	/* showing the first sub menu */


	.dpt-menu .has-child > :where(ul, .mega)::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			90deg,
			rgba(225, 225, 225, 1) 0%,
			rgba(26, 26, 26, 0.1)
		);
	}

	.dpt-menu .mega {
		width: auto;
		min-width: var(--percent100);
	}

	.dpt-menu .has-child:hover .mega {
		display: flex;
	}

	/* Slider */
	.slider > div > .wrapper {
		width: calc(100% - (300px + 2em));
		margin-left: auto;
	}

	/* products */
	.trending .products,
	.product-categories .row {
		flex: 0 0 33.3333%;
	}

	.products.big .media {
		max-height: 373px;
	}

	.products.main .item,
	.widgets .row {
		flex: 0 0 25%;
	}
}

#partner{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 90%;
    margin: 0px auto 50px auto;
 }
 .logo-container{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    grid-gap: 15px;
 }
 .logo-container img{
    height: 50px;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    opacity: 0.3;
 }
 .logo-container img:hover{
    opacity: 1;
    filter: grayscale(0);
 }

/* <!-- =====Start Main===== --> */
.recent-product{
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
 }
 .product-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
 }
 .produuct-heading h3{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
 }
 .product-heading a{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
 }
 .r-product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    margin: 20px auto;
 }
 .r-product-box{
    max-width: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    border-radius: 5px;
    border: 1px solid #ececec;
    transition: all ease 0.3s;
 }
 .r-product-box:hover{
    box-shadow: 2px 6px 16px rgba(0, 0, 0, 05);
 }
 .r-product-box .r-product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
 }
 .r-product-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
 }
 .r-product-text .product-box-p-name,
 .product-text .product-box-p-name{
    color: #313131;
    font-size: 1rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .r-product-text .p-box-category,
 .product-text .p-box-category{
    font-size: 0.9rem;
    color: #257df1;
 }
 .r-product-text .p-box-price,
 .product-text .p-box-price{
    color: #1d1d1d;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
 }
 .r-product-text .p-box-price del,
 .product-text del{
    color: #215f99;
    font-size: 0.9rem;
 }
 /* <!-- =====Sale===== --> */
 .sale{
    max-width: 1200px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
 }
 .sale-box{
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    position: relative;
 }
 .sale-box img{
    width: 100%;
    height: 100%;
    object-position: center right;
    object-fit: cover;
 }
 .sale-text{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
    display: flex;
    flex-direction: column;
    color: #1b1919;
 }
 .sale-text strong{
    font-size: 1.2rem;
    font-weight: 700;
    max-width: 200px;
 }
 .sale-text span{
    font-size: 1rem;
    color: #792323;
    font-weight: 600;
    text-transform: uppercase;
 }
 /* <!-- =====Popular-product===== --> */
 #popular-product{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
 }
 .popular-product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    margin: 20px auto;
 }
 .product-box{
    max-width: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ececec;
    padding: 20px 10px;
    transition: all ease 0.3s;
 }
 .product-box:hover{
 box-shadow: 2px 6px 16px rgba(0, 0, 0, 05);
 }
 .product-box .product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
 }
 .product-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
 }
 .product-text p{
    font-weight: 400;
    color: #575757;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    width: 100%;
 }
 /* <!-- =====Contact===== --> */
 .home-contact{
    width: 100%;
    min-height: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
 }
 .home-contact-text{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #a4e2ff15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
 }
 .h-contact-text span{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    color: #0f87f8;
 }
 .h-contact-text{
    font-size: 2rem;
    color: #1d1d1d;
    text-align: center;
    max-width: 400px;
 }
 .h-contact-text a{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 20px;
    font-weight: 500;
 }
 .contact-bg-left{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 2;
 }
 .contact-bg-right{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 2;
 }
 /* <!-- =====Footer ===== --> */



    /* <!-- =====Footer ===== --> */
 /* <!-- =====Services ===== --> */
 .services{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
 }
 .services-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    padding: 20px;
 }
 .services-box i{
    color: #0b689d;
    font-size: 2rem;
    margin: 15px;
 }
 .services-box span{
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
 }
 .service-box p{
    color: #878787;
    font-size: 0.9rem;
    text-align: center;
 }

 #banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  .banner-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  .banner-left img {
    max-width: 100%;
    height: auto;
  }
  .banner-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  .section-heading {
    text-align: center;
  }
  .section-heading h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .line {
    width: 10rem;
    height: 3px;
    background-color: gold;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .btn:hover {
    background-color: gold;
    color: black;
  }
 
  
 @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .logos {
    text-align: center;
    right: 5px;
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  .logos h1{
    text-align: center;
  }
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
  
  #product1{
	text-align: center;
  }

  #product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;
  }

  #product1 .pro{
	width: 23%;
	min-width: 100px;
	padding: 10px 12px;
	border: 1px solid gold;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 10px 0;
	transition: 0.2s ease;
	position: relative;
  }
  #product1 .pro:hover{
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  #product .pro img{
	width: 50%;
	border-radius: 20px;
  }
  #product1 .pro .des{
	text-align: start;
	padding: 10px 0;
  }
  #product1 .pro .des span{
	color: black;
	font-size: 15px;
  }
  #product .pro .des h5{
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;
  }
  #product1 .pro .des i{
   font-size: 12px;
   color: rgb(243, 181, 25);
  }
  #product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: black;
  }
  #product1 .pro .cart{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: gold;
	font-weight: 500;
	color: black;
	border: 1px solid black;
	position: absolute;
	bottom: 20px;
	right: 10px;
  }
  



.about{
    position: relative;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.about .contentBx{
    max-width: 50%;
    width: 50%;
    text-align: left;
    padding-right: 40px;
}

.titleText{
    font-weight: 600;
    color: #111;
    font-size: 2rem;
    margin-bottom: 10px;
}

.title-text{
    color: #111;
    font-size: 1em;
}

.about .imgBx{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 400px;
}

.btn2{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    border: .8px solid #111;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: gold;
    border: none;
    color: black;
}

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: 400;
}

.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid gold;
}

.profile-name{
    font-size: .8rem;
    font-weight: 500;
}
