@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#000000;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    
}

section{
    padding: 2rem 7%;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: orange;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

/* Navbar Section */

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6.5rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: unset;
}


.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

/* Search Section */

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}



/* start home section */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/Background.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #f0ad4e;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

@keyframes slideBackground {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  .home {
    /* Diğer stillendirmeler burada */
    animation: slideBackground 10s linear infinite alternate;
  }


/* top icons */
#top-icons{
    margin-top: 60px;
    text-align: center;
}
#top-icons h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: white;
}
#top-icons i img{
    width: 100px;
}
#top-icons h3{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    margin-left: 20px;
    text-align: center;
    color: white;
}
/* top icons */

/* About US */

#about-home {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #about-home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
  }
  
  #about-container {
    display: flex;
    align-items: center;
    margin: 1px;
  }
  
  #about-container .about-img {
    width: 60%;
    padding-right: 30px;
  }
  
  #about-container .about-img img {
    width: 100%;
  }
  
  #about-container .about-text {
    width: 40%;
  }
  
  #about-container .about-text h2 {
    color: #f0ad4e;
    padding-bottom: 15px;
  }
  
  #about-container .about-text p {
    color: #ffffff;
    font-size: 10px;
  }
  
  #about-container .about-text .about-fe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  #about-container .about-text .about-fe img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
  }
  
  #about-container .about-text .about-fe .fe-text {
    width: 90%;
  }
  #about-container .about-text .about-fe .fe-text h5 {
    font-size: 16px;
    color: #f0ad4e;
  }
  /* About US */


  .counter-wrapper{
    background: url(../img/Counter.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.5rem;
    padding: 5rem 9%;
    position: relative;
}
.counter-wrapper::before{
    position: absolute;
    content: '';
    content: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.counter{
   text-align: center;   
   color: #ddd;
   z-index: 2;
   position: relative;
}
.counter::before{
    position: absolute;
    content: '';
    bottom: -2rem;
    left: 50%;
    width: 20%;
    height: .2rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.counter .count{
    font-size: 3rem;
    margin-bottom: 1rem;    
}
.counter p{
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
}
@media (max-width: 768px) {
   .counter-wrapper{
       grid-template-columns: repeat(2, 1fr);
       grid-row-gap: 8rem;
   }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .counter-wrapper{
        grid-template-columns: 1fr;
    }
}
/* End Counter */


   /* Menu */

  .underline {
    margin: 0 auto;
    width: 70px;
    height: 5px;
    background-color: white;
}

.text-center{
  color: #f0ad4e;
  margin: 25px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 3rem;
}

.card {
    min-width: 600px;
    margin: 0;
    padding: 0 10px;
    border: none;
    background: none;
}

.card-body {
    padding: 0;
    padding: 0px 20px;
}

.card img {
    width: 257px;
    height: 157px;
}

@media only screen and (max-width: 780px) and (min-width:590px) {
    .card {
        padding: 10px 100px;
        width: 90%;
        margin: 0 auto;
    }
    .card img {
        width: 100%;
        height: 200px;
        margin: 0 auto;
        
    }
    .card-body {
        padding: 0;
    }
    .card-title {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1400px) and (min-width:780px) {
    .card {
        padding: 10px 10px;
        max-width: 700px;
    }
    .menu-items {
        justify-content: center;
    }
}

@media only screen and (max-width: 590px) {
    /* .container {
        width: 50%;
    } */
    .card {
        padding: 1em 8em;
    }
    .card img {
        width: 100%;
    }
    .card-body {
        padding: 0;
    }
    .card-title {
        margin-top: 20px;
    }
}

.card-title {
    width: 100%;
    border-bottom: 1px dotted rgb(137, 126, 126);
    display: flex;
    justify-content: space-between;
}

.card-title h5,
.price {
    letter-spacing: 2px;
    color: white;
    font-size: 18px;
}

.card-text {
    color: rgb(255, 255, 255);
    word-spacing: 1px;
    letter-spacing: 1px;
}

/* Menu */





.main_bg{
  background-image: url(../img/background.jpg);
  max-width: 1440px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.form{
  width: 650px;
}

.form-text{
  text-align: center;
  margin: 0 0 40px 0;
}
.form-text h1 span img{
  margin: 0 10px;

}
.form-text h1{
  color: #fff;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 40px;
  margin-bottom: 20px;
}


.main-form div{
  margin: 10px 10px;
  width: 300px;
  display: inline-block;
}
.main-form div input {
  width: 100%;
  font-family: 'Akaya Telivigala', cursive;
  background: none;
  border: 1px solid #ffca00;;
  font-size: 20px;
  color: rgb(255, 255, 255);
  outline: none;
  padding: 3px 0 3px 10px;
  margin-top: 10px;
}
.main-form div select{
  width: 104%;
  font-family: 'Akaya Telivigala', cursive;
  background: none;
  border: 1px solid #ffca00;;
  font-size: 20px;
  color: rgb(97, 95, 95);
  outline: none;
  padding: 3px 0 3px 10px;
  margin-top: 10px;
}
.main-form div span{
  width: 100%;
  font-family: 'Akaya Telivigala', cursive;
  color: #fff;
  font-size: 25px;
}

#submit{
  width: 100%;
  text-align: center;
}
#submit input{
  font-family: 'Akaya Telivigala', cursive;
  width: 200px;
  background-color: yellow !important;
  color: black !important;
  transition: all .3s;
}
#submit input:hover{
  font-family: 'Akaya Telivigala', cursive;
  width: 200px;
  background-color: black !important;
  color: #fff !important;
}
#submit input:active{
  font-size: 19px;
  background-color: rgb(46, 20, 5) !important;
  color: #fff !important;
}


@media screen and (max-width:710px) {
  .main-form{
      text-align: center;
  }
}



.header-g {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 20px auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}




/* features */
#features {
    padding: 8vw 9vw 3 8vw;
    text-align: center;
  }
  
  #features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
  }
  
  #features .fea-box {
    background-color: #151515;
    padding: 3rem;
    text-align: start;
  }
  
  #features .fea-box i {
    font-size: 3.5rem;
    color: orange;
  }
  
  #features .fea-box h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 13px 0 7px 0;
  }
  
  #features .fea-box p {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }



/* footer */

footer {
    padding: 8vw;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  footer .footer-col {
    padding-bottom: 40px;
  }
  
  footer h3 {
    color: var(--main-color);
    font-weight: 600;
    padding-bottom: 20px;
  }
  
  footer li {
    list-style: none;
    color: #ffffff;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  footer li:hover {
    color: rgb(241, 240, 245);
  }
  
  footer p {
    color: #7b838a;
  }
  
  footer .subscribe {
    margin-top: 20px;
  }
  
  footer input {
    width: 220px;
    padding: 15px 12px;
    background: #ffffff;
    border: none;
    outline: none;
    color: #fff;
  }
  
  footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 17px 17px;
    background-color: #fff;
    font-weight: 600;
  }
  
  footer .subscribe a.yellow {
    color: rgb(255, 255, 255);
    background-color: orange;
    transition: 0.3s ease;
  }
  
  footer .subscribe a.yellow:hover {
    color: rgb(255, 255, 255);
    background-color: orange;
  }
  
  footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  footer .copyright p {
    color: #fff;
  }
  
  footer .copyright .pro-links {
    margin-top: 0px;
  }
  
  footer .copyright .pro-links i {
    background-color: #5f7185;
    color: #fff;
  }
  
  footer .copyright .pro-links i:hover {
    background-color: #fdc93b;
    color: #2c2c2c;
  }





/* media queries */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }

}


@media (max-width:768px){
    
   #menu-btn{
    display: inline-block;
   }

   .header .navbar{
    position: absolute;
    top: 100%; right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
   }

   .header .navbar.active{
    right: 0;
   }

   .header .navbar a{
    color: var(--black);
    display: block;
    margin:1.5rem;
    padding: .5rem;
    font-size: 2rem;
   }

   .header .search-form{
    width: 90%;
    right: 2rem;
   }

   .home{
    background-position: left;
    justify-content: center;
    text-align: center;
   }

   .home .content h3{
    font-size: 4.5;
   }

   .home .content p{
    font-size: 1.5;
   }

}


@media (max-width:450px){
    
    html{
        font-size: 50%;
    }  

}

